<h2>TEA Ebook</h2>
<p>The Ebook Alternative est une start up innovante, qui a pour ambition de fédérer les acteurs de la chaîne du livre autour d’une plateforme de distribution et de services d’e-book, à l’échelle nationale et internationale.</p>

<p><img src="{{ site.url }}/img/apo.png" alt="TEA Ebook" /></p>

<h2>Devblog</h2>
<p>L'équipe de développeurs de TEA aborde sur ce blog des sujets divers et variés :</p>
<ul class="tags">
{% for tag in site.tags %}
	<li><a href="{{ site.url}}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
{% endfor %}
</ul>

<h2>Actualités</h2>
<p><img src="{{ site.url }}/img/onyva.jpg" alt="TEA Ebook" /></p>



<h2>Recrutement</h2>
<p><a href="http://n.survol.fr/n/tea-cherche-un-renfort-de-talent-pour-son-equipe-technique">TEA cherche un renfort de talent pour son équipe technique</a></p>


